.latest-news {
  padding: 0 15px;
  /* background: #EEEEEE; */
  border-radius: 10px;
  /* max-width: 700px; */
  width: 100%;
  padding-top: 3rem;
  margin: 0 auto;
}
.image-container {
  overflow: hidden;
  border-radius: 10px; /* Lagano zaobljenje rubova */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pomaže slici da ispuni prostor i izbjegne distorziju */
  object-position: center; /* Pozicionira sliku na sredinu */
}
.latest-news h2 {
  text-align: center;
  /* color: #003366; */
  /* font-size: 1.5rem; */
}

.latest-news ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
}

.read-more:hover {
  color: #0056b3;
  transform: scale(1.05);
}
.latest-news li {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: white;
  padding: 10px;
  margin-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.latest-news li h3 {
  margin: 0;
  color: #020147;
}

.latest-news li small {
  color: #777;
}

.news-list-odd {
  background: white !important;
}
.news-list-even {
  background: white !important;
}

.image-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .latest-news {
    width: 70%;
  }
  /* .latest-news {
    width: 100%;
  }
  .latest-news ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .latest-news li {
    margin-bottom: 0;
  } */
}

@media (min-width: 1424px) {
  .latest-news {
    width: 50%;
  }
  /* 
  .latest-news ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .latest-news li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25px;
    max-width: 600px;
  }

  .image-container {
    width: 40%;
  }

  .content-container {
    width: 60%;
  } */
}
